@charset "utf-8";

.c-basic-header {
    // background-color: $color_main;
    border: {
        left: solid 5px $color_accent;
        bottom: solid 1px $color_accent;
    }
    padding: 8px 10px;
    // border-radius: 3px;
    margin: {
        top: 30px;
        bottom: 10px;
    }

    @include mq(){

    }

}