@charset "utf-8";

.c-card {

    padding: 5px;

    &__link {
        display: block;
        padding: 5px;

        &:hover {
            text-decoration: none;
            cursor: pointer;
        }
    }

    &__image {
        display: block;
        margin-bottom: 10px;
    }

    &__img {
        display: block;
        width: 100%;
        margin: 0 auto;
    }

    &__title {
        display: block;
        font-weight: bold;
        min-height: 50px;

        &:hover {
            text-decoration: underline;
        }
    }

    &__content {
        display: block;
    }

    &__section {
        display: block;
        margin-bottom: 5px;
        
        &:hover {
            text-decoration: none;
        }
    }

    &__price {
        font-size: $font_lg;
        color: $color-red;
        margin-right: 10px;
    }

    @include mq(){

    }

}