@charset "utf-8";

.c-card {

    &__img {
        display: block;
        max-width: 180px;
        margin: 0 auto;
        margin-bottom: 10px;
    }

    &__content-wrap {
        max-width: 200px;
        margin: 0 auto;
    }

    &__title {
        font-weight: bold;
        margin-bottom: 5px;
    }

    &__brand-name {
        display: block;
        margin-bottom: 5px;
    }

    &__item-name {
        display: block;
        margin-bottom: 5px;

    }

    &__off {
        margin-bottom: 5px;
    }

    &__price {
        font-size: $font_lg;
        color: $color-red;
        margin-right: 10px;
    }

    &__strikethrough {

    }


    
    @include mq(){

    }

}