@charset "utf-8";

.c-icon-header {
    position: relative;
    border-bottom: solid 1px $color_main;
    padding: {
        top: 0px;
        right: 5px;
        bottom: 5px;
        left: 20px;
    }
    margin-bottom: 10px;
    line-height: 1.7;
    
    &::before {
        content: '';
        position: absolute;
        top: 2px;
        left: 0;
        background: url('./img/icon-vivid.png');
        width: 16px;
        height: 16px;
        background-size: cover;
    }

    @include mq(){

    }

}