@charset "utf-8";

.c-icon-header {
    position: relative;
    border-bottom: solid 1px $color_main;
    padding: {
        top: 5px;
        right: 5px;
        bottom: 5px;
        left: 20px;
    }
    margin-bottom: 10px;
    
    &::before {
        position: absolute;
        left: 0;
        bottom: 3px;
        content: url('./img/icon-vivid.png');
    }

    @include mq(){

    }

}