@charset "utf-8";

.c-lisence {
    overflow: hidden;
    padding: 5px;
    margin-bottom: 5px;
    border-bottom: solid 1px $color_thin_gray;
    
    &__link {
        display: block;

        &:hover {
            text-decoration: none;
            cursor: pointer;
        }
    }

    &__image {
        float: left;
        width: 30%;
        padding-right: 3%;
    }

    &__img {
        width: 100%;
    }

    &__title {
        float: right;
        width: 67%;
        font-weight: bold;
    }

    &__content {
        float: right;
        width: 67%;
    }

    &__section {
        display: block;
        margin-bottom: 5px;
        
        &:hover {
            text-decoration: none;
        }
    }

    &__price {
        font-size: $font_lg;
        color: $color-red;
        margin-right: 10px;
    }

    @include mq(){

    }

}