@charset "utf-8";

.c-logo {
    display: block;
    padding: 5px;

    %__link {
        display: block;
    }

    &__link {
        @extend %__link;
        max-width: 150px;

        &--sm {
            @extend %__link;
            max-width: 120px;
        }

        &--lg {
            @extend %__link;
            max-width: 180px;
        }
    }

    &__img {
        width: 100%;
    }

    &__sub-text {
        font-size: $font_xs;
    }

    @include mq(){

    }

}