@charset "utf-8";

.c-logo {
    display: block;
    padding: 5px;

    &__link {
        display: block;
    }

    &__img {
        width: 150px;

        &--sm {
            width: 120px;
        }

        &--lg {
            width: 180px;
        }
    }

    &__sub-text {
        display: block;
        text-align: center;
        padding-left: 35px;
        font-size: $font_xs;
    }

    @include mq(){

    }

}