@charset "utf-8";

.c-logo {
    display: block;
    max-width: 120px;
    padding: 5px;

    &__link {
        display: block;
    }

    &__img {
        width: 100%;
    }

    &__sub-text {
        font-size: $font_xs;
    }

    @include mq(){

    }

}