@charset "utf-8";

%c-label {
    display: inline-block;
    border:solid 1px $color_main;
    border-radius: 3px;
    padding: 10px;
}

.c-label {
    @extend %c-label;

    &--active {
        @extend %c-label;
        background-color: $color_accent;
    }
    
    @include mq(){

    }

}