@charset "utf-8";

.c-play-button {
    position: relative;
    display: block;
    padding: 10px 15px;
    border-radius: 5px;
    background-color: $color-accent;

     &::after {
         display: block;
         content: '▶︎';
         position: absolute;
         right: 12px;
         top: 12px;
         font-size: $font_xs;

     }
    
    @include mq(){

    }

}