@charset "utf-8";

%_after_common {
    position: absolute; 
    top: 9px;
    left: 19px;
    font-weight: bold;
    color: $color-base;
}

.c-ranking-icon {

    @for $i from 1 through 10 {
        &-#{$i} {
            position: relative; 
        }
    }

    @for $i from 1 through 10 {
        &-#{$i}::before {
            position: absolute; 
        }
    }

    &-1::before {
        content: url('./img/icon-tropyu-gold.png');
    }

    &-1::after {
        content: '1';
        @extend %_after_common;
    }

    &-2::before {
        content: url('./img/icon-tropyu-silver.png');
    }



    &-2::after {
        content: '2';
        @extend %_after_common;
    }

    &-3::before {
        content: url('./img/icon-tropyu-bronz.png');
    }

    &-3::after {
        content: '3';
        @extend %_after_common;
    }

    

    $i: 4;
    @for $i from 4 through 10 {

        &-#{$i}::before {            
            content: '';
            border: {
                top: 20px solid $color-main;
                right: 20px solid transparent;
                left: 20px solid $color-main;
                bottom: 20px solid transparent;
            }
        }

        &-#{$i}::after {
            content: "#{$i}";
            position: absolute;
            color: $color_base;
            top: 3px;
            left: 3px;
            font-size: $font_lg;
        }
 
    }
    
    

}