/vendor/*
/wordpress/*
!.gitignore
!.htaccess
!wp-config-sample.php
!/docker
/docker/db
!/wordpress/favicon.ico
!/wordpress/google*.html
!/wordpress/wp-content
/wordpress/wp-content/*
!/wordpress/wp-content/advanced-cache.php
!/wordpress/wp-content/themes
/wordpress/wp-content/themes/*
!/wordpress/wp-content/plugins
/wordpress/wp-content/plugins/*
/**/node_modules