@charset "utf-8";

.p-archive-cartjs-box {
    
    .cartjs_product_table {
        margin: 0;

        th {
            width: 40%;
            padding: {
                right: 10px;
                bottom: 15px;
            }
        }

        td {
            input {
                border: solid 1px $color_gray;
                padding: 5px 10px;
                border-radius: 3px;
                text-align: center;
            }
        }
        
    }

    .cartjs_cart_in {
        text-align: center;

        input {
            display: inline-block;
            background-color: $color_main;
            padding: 10px 20px;
            font-size: $font_md;
            // color: $color_base;
            color: #777;
            border: 0;
            border-radius: 5px;

            &:hover {
                opacity: 0.6;
                cursor: pointer;
            }
        }

    }

    .cartjs_product_explain {
        line-height: 1.5;
    }

    .cartjs_option select {
        width: 100%;
        z-index: 2;
        background-color: transparent;
        padding-right: 30px;
        // -moz-appearance: menulist;
        // -webkit-appearance: menulist;
        -webkit-appearance: none;/* ベンダープレフィックス(Google Chrome、Safari用) */
        -moz-appearance: none;	/* ベンダープレフィックス(Firefox用) */
        appearance: none;	/* 標準のスタイルを無効にする */ 
    }

    .cartjs_option select::-ms-expand {
        display: none;
    }

    .cartjs_option .pulldown_wrapper {
        display: block;
        position: relative;

        &::before {
            content: '';
            position: absolute;
            top: 0;
            right: 0%;
            height: 100%;
            width: 30px;
            border-radius: 0 5px 5px 0;
            background-color: $color_main;
            z-index: -2;
        }

        &::after {
            content: '▼';
            position: absolute;
            top: 35%;
            right: 10px;
            z-index: -1;
        }
    }

    .cartjs_buy .cartjs_btn {
        font-size: $font_md !important;
        background-color: $color_main !important;
    }

    .cartjs_dtl_tbl {
        th {
            vertical-align: top;
        }
    }

    @include mq(){
        .cartjs_product_table {
            min-height: 100px;
        }
        .cartjs_option .pulldown_wrapper {
            width: 100%;
        }

        .stock_wrapper {
            display: block;
            width: 80%;
            text-align: center;
        }

        .cartjs_option .pulldown_wrapper {
            &::before {
                width: 20px;
            }

            &::after {
                font-size: $font_xs;
                right: 5px;
            }
        }

    }

}