@charset "utf-8";

.p-global-nav-list {
    display: flex;
    margin-bottom: 5px;
    border: {
        top: solid 1px $color_main;
        bottom: solid 1px $color_main;
    }

    &__item {
        flex-grow: 1;
        background: linear-gradient($color_base, $color_main);
        border-right: solid 1px $color_main;

        &:last-child {
            border-right: 0;
        }

    }

    &__link {
        display: block;
        text-align: center;
        font-size: $font_sm;
        padding: 10px 0;
    }

    @include mq(){
        flex-wrap: nowrap;
        width: $site_width;
        margin: 0 auto;
        border: 0;

        &__item {
            position: relative;
            flex-grow: 0;
            border: 0;

            &::after {
                content: '';
                width: 1px;
                height: 70%;
                position: absolute;
                top: 8px;
                right: 0;
                background-color: $color_gray;
                
            }

            &:last-child::after {
                display: none;
            }
        }

        &__link {
            padding: 15px 20px;
            font-size: $font_md * 1.1;

            &:hover {
                background-color: rgba(212, 170, 255, 0.3);
                text-decoration: none;
            }
        }
    }
}