@charset "utf-8";

.p-global-nav-list {
    display: flex;
    border: {
        top: solid 1px $color_main;
        bottom: solid 1px $color_main;
    }
    margin-bottom: 5px;

    &__item {
        display: block;
        width: 33.3%;
        background: linear-gradient($color_base, $color_main);
        border-right: solid 1px $color_main;

        &:last-child {
            border-right: 0;
        }

    }

    &__link {
        display: block;
        text-align: center;
        font-size: $font_sm;
        padding: 10px 0;
    }

    @include mq(){

    }
}