@charset "utf-8";

.p-information-list {

    border: solid 1px $color_gray;
    border-radius: 3px;
    padding: 5px;
    margin-bottom: 10px;

    &__item {
        border-bottom: dotted 1px $color_gray;
        margin-bottom: 5px;
        padding: 5px;
        
    }

    @include mq(){

    }
}