@charset "utf-8";

.p-item-list {

    &__item {
        border-bottom: solid 1px $color_thin_gray;
    }
    
    @include mq(){
        display: flex;
        flex-wrap: wrap;
   
        &__item {
            width: 24%;
            margin: {
                right: 1.2%;
                bottom: 30px;
            }
            border-bottom: 0;

            &:nth-child(4n) {
                margin-right: 0;
            }

        }
    }

}