@charset "utf-8";

.p-pc-search-area {

    display: none;
    
    @include mq(){
        display: block;
        width: 400px;
        padding: 10px;
        
        &__input {
            font-size: $font_md;
            border: solid 1px $color_thin_gray;
            padding: 10px 20px;
            width: 80%;
            border-radius: 3px;
            border-radius: 18px 0 0 18px;
        }
    
        &__submit {
            background-color: $color_accent;
            padding: 8px 15px;
            border-radius: 0px 18px 18px 0;
            color: $color_base;
            border: 0;
        }
    
    }
}