@charset "utf-8";

.p-sp-header-nav-list {
    width: 150px;
    display: flex;
    justify-content: space-between;
    padding: 5px;
    

    &__item {
        justify-content: space-between;
    }

    @include mq(){
         display: none;
    }
}