@charset "utf-8";

.l-footer {
    background-color: $color_main;

    &__primary {
        max-width: $site_width;
        margin: 0 auto;
    }

    &__secondary {
        max-width: $site_width;
        margin: 0 auto;
    }

    &__secondary-first {
        margin-bottom: 10px;
    }

    &__secondary-second {
        margin-bottom: 10px;
    }

    &__tertiary {
        text-align: center;
        padding: 10px;
        background-color: $color-accent;
    }

    @include mq(){

    }

}