@charset "utf-8";

.l-footer {

    &__primary {
        display: none;
    }

    &__secondary {
        background: linear-gradient($color_base, $color_main);
    }

    &__secondary-wrapper {
        max-width: $site_width;
        margin: 0 auto;
    }

    &__secondary-first {
        margin-bottom: 10px;
    }

    &__secondary-second {
        margin-bottom: 10px;
    }

    &__tertiary {
        text-align: center;
        padding: 10px;
        background-color: $color-accent;
    }

    @include mq(){
        margin-top: 50px;
        
        &__primary {
            display: block;
            background-image: url('./img/footer-background.png');
            background-size: cover;

        }
        &__secondary {
            overflow: hidden;
            padding-bottom: 30px;
            padding-top: 20px;
        }

        &__secondary-first {
            width: 50%;
            float: left;
        }

        &__secondary-second {
            width: 50%;
            float: right;
        }
    }

}