@charset "utf-8";

.l-main {

    // l-main__content-primary

    %__basic {
        padding: 10px;
        margin-bottom: 10px;
    }

    &__content-primary-first {
        @extend %__basic;
    }

    &__content-primary-second {
        @extend %__basic;
    }

    &__content-primary-third {
        @extend %__basic;
    }

    &__content-primary-fourth {
        @extend %__basic;
    }

    &__content-primary-fifth {
        @extend %__basic;
    }

    // l-main__content-secondry

    &__content-secondary-first {
        padding: 10px;
        margin-bottom: 30px;
    }

    &__content-secondary-second {
        padding: 10px;
        margin-bottom: 30px;
    }

    &__content-secondary-third {
        padding: 5px;
    }

    @include mq() {

        &__content {
            display: flex;
            max-width: $site_width;
            margin: 0 auto;
            flex-direction: row-reverse;
        }

        &__content-primary {
            width: 75%
        }
    
        &__content-secondary {
            width: 25%
        }

        &__content-primary-first {
            padding: 10px;
        }

    }

}
